apiVersion: v1
kind: Config
current-context: netclode
clusters:
  - name: netclode
    cluster:
      server: {{ server_url }}
      certificate-authority-data: {{ kubeconfig.clusters[0].cluster['certificate-authority-data'] }}
contexts:
  - name: netclode
    context:
      cluster: netclode
      user: netclode
users:
  - name: netclode
    user:
      client-certificate-data: {{ kubeconfig.users[0].user['client-certificate-data'] }}
      client-key-data: {{ kubeconfig.users[0].user['client-key-data'] }}
